body {
    background-color: royalblue;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color:blue;
}


button {
    background-color: yellowgreen;
    height: 60px;
    width: 100px;
    font-size: 1.5rem;
}

button:hover {
    background-color: white;
}

/* Game Page */

/* Game Board */
.big-circle {
    height: 300px;
    width: 300px;  
    background-color: gray;
    margin: auto; 
    margin-top: 3rem; 
    border-radius: 50%;
}

.opponent-game-level {
    height: 100px;
    width: 500px;
    background-color: black;
    margin: auto;
    margin-top: 3px;
    position: absolute;
    left: 100px;
    background-color: wheat;
}

/* Die */
.game-die {
    height: 70px;
    width: 70px;
    background-color: black;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    position: absolute;
    right: 320px
    
}

.rolled-colour {
    background-color: gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.score {
    font-size: 2rem;
}
.incorrect {
    font-size: 2rem;
    margin-top: 10px;
    ;
}


